* {
  margin: 0;
  padding: 0;
  font-family: "Comic Neue", cursive;
  box-sizing: border-box;
}

body {
  margin: 0 80px;
  background-color: aliceblue;
}
.fondo{
    background-color: rgb(229, 233, 238);
    height: 100vh;
}

header {
  height: 300px;
  display: inline-block;
  width: 100%;
  background-color: white;
}

header::before {
  content: "";
  background-image: url("../img/design1_image1.jpg");
  background-position: 0 -100px;
  height: 300px;
  background-size: cover;
  margin: 0 80px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

header h1 {
  position: relative;
  color: black;
  font-size: 70px;
  line-height: 0.9;
  text-align: left;
  text-indent: 0.5em;
}

h2 {
  position: relative;
  background: black;
  color: white;
  text-align: center;
}

#logo-header {
  position: absolute;
  top: 260px;
  right: 100px;
}

nav {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  
}

main {
  display: inline-block;
  width: 60%;
  margin-top: 15px;
}

nav a {
  display: block;
  font-size: medium;
  margin-top: 2px;
  padding: 0 1em;
  background-color: black;
  color: rgb(236, 234, 234);
  text-decoration: none;
  border-radius: 0 5px 5px 0;
  opacity: 0.9;
  border: 1px solid rgb(227, 239, 225);
  transition: 0.4s;
}

nav a:hover {

  background-color: rgba(21, 190, 247, 0.541);
  transform: translateX(6px);
  color: black;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(227, 239, 225);
}

nav a:first-child {
  margin-top: 20px;
}

section {
  display: inline-block;
}

.active-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#events > p {
  text-indent: 4em;
}

#events h3 {
  text-indent: 2em;
  margin: 0;
  font-style: italic;
}

p {
  text-indent: 1em;
  margin: 0;
  margin-bottom: 20px;
}

article {
  margin-left: 15px;
}
p>a{
  text-decoration: underline black;
}