* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(229, 233, 238);
}

header {
  height: 300px;
  display: inline-block;
  width: 100%;
  background-color: white;
}

header::before {
  content: "";
  background-image: url("../img/design1_image1.jpg");
  background-position: 0 -100px;
  height: 300px;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

header h1 {
  position: relative;
  color: black;
  font-size: 70px;
  line-height: 0.9;
  text-align: left;
  text-indent: 0.5em;
  display: inline-block;
}

h2 {
  position: relative;
  background: black;
  color: white;
  text-align: center;
}

#logo-header1 {
  position: relative;
  display: inline-block;

}
#logo-header2 {
  position: absolute;
  top: 260px;
  right: 100px;
}

.active-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#events> p {
  text-indent: 4em;
}

#events h3 {
  text-indent: 2em;
  font-style: italic;
}

p {
  text-indent: 1em;
  margin: 0;
  margin-bottom: 20px;
}

p>a{
  text-decoration: underline black;
}

.fondo{
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}

nav {
  display: inline-flex;
  flex-direction: column;
  width: 200px;
  margin-right: 20px;
}

nav a {
  font-size: medium;
  margin-top: 2px;
  padding: 0 1em;
  background-color: black;
  color: rgb(236, 234, 234);
  text-decoration: none;
  border-radius: 0 5px 5px 0;
  opacity: 0.9;
  border: 1px solid rgb(227, 239, 225);
  transition: 0.4s;
}

nav a:hover {
  background-color: rgba(21, 190, 247, 0.541);
  transform: translateX(6px);
  color: black;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(227, 239, 225);
}

.active-link {
  background-color: rgba(21, 190, 247, 0.541);
  transform: translateX(6px);
  color: black;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid rgb(83, 87, 82);
}

main {
  display: inline-flex;
  width: 100%; 
  align-items: flex-start;
  margin-bottom: 40px;
  min-height: 100vh; 
}

section{
  display:flex;
  flex-wrap: wrap;
  margin: 0 15px;
}

article{
  width: 80%;
}
#contact-content{
  display: inline-block;
}

#imagenSide{
  display:inline-flex;
  width: 20%;
  border: 5px solid white;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

#imagenSide:hover{
  transform:scale(200%);
}

footer{
  display: flex;
  height: 100px;
  background: black;
  opacity: 0.9;
}

.info-disenador{
  display: inline-flex;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}

.rules{
  display: block;
  width: 80%;
}

.center-text{
  text-align: center;
}

ol,ul{
  padding-left: 2em;
}

.rules>h4{
  margin-bottom: 10px;
}

.ol-a{
  list-style-type:lower-alpha;
  padding-left: 1em;
}

.ul-circle{
  list-style-type:circle;
}

.game-info{
  display: block;
  width: 100%;

}

table{
  width: 60%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

th,td{
  padding: 12px 15px;
  text-align: center;
}

th {
  background-color: #009879;
  color: #ffffff;
}

tbody tr {
  border-bottom: 1px solid #cac8c8;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 3px solid #009879;
}

dl>div{
  margin-top: 20px;
}

dl a{
  text-decoration: none;
}

dt{
  font-weight: bold;
  display: inline;
}

dd{
  display: inline-block;
}

.phone-email{
  display: inline-flex;
  margin-right: 5em;
}